---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  <url>
    <loc>https://mimajo.co{% if page.url == "/index.html" %}/{% else %}{{ page.url }}{% endif %}</loc>
  </url>
{%- endfor %}
</urlset>
